[Desktop Entry]
Type=Application
Name=Element
Icon=im.riot.Riot
Exec=/app/bin/run.sh %U
Categories=Network;InstantMessaging;Chat;VideoConference;
MimeType=x-scheme-handler/element;
StartupWMClass=element
Keywords=Matrix;matrix.org;chat;irc;communications;talk;riot;vector;
